---
layout: default
---

<h1 class="page-title">{{ site.title }}</h1>
<h5 class="page-description">{{ page.description | default: site.description }}</h5>

<div class="row intro">
  <div class="col-lg-9 intro-text">
    {{ content }}
  </div>
  <div class="col-lg-3">
    <img class="rounded" id="profile-pic" src="{{ site.baseurl }}/images/bentyeh_700px_square.jpg">
    {% include social.html %}
  </div>
</div>

<h2>Latest Posts</h2>

<ul class="post-list">
{%- assign counter = 0 -%}
{%- for post in site.posts -%}
  {%- if post.hidden -%}{%- continue -%}{%- endif -%}
  <li>
    <span class="post-meta">{{ post.date | date: site.date_format }}</span>
    {% for tag in post.tags %}
      <a href="/tags/#{{ tag }}" class="post-meta post-tag">
        <i class="fas fa-tag"></i>{{ tag }}
      </a>
    {% endfor %}
    <h2>
      <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
    </h2>
    {{ post.excerpt | markdownify | truncatewords: 50 }}
  </li>
  {%- assign counter = counter | plus: 1 -%}
  {%- if counter >= page.num_posts -%}{%- break -%}{%- endif -%}
{%- endfor -%}
</ul>