---
layout: default
---

{%- if page.use_toc -%}
    <div class="row">
        <div class="col-xl-9">
            <h2>Contents</h2>
            {% include toc.html html=content %}
            {{ content }}
        </div>

        <nav class="d-none d-xl-block col-xl-3 toc-nav">
            <h5 class="toc-nav-title">Contents</h5>
            {% include toc.html html=content %}
        </nav>
    </div>
{%- else -%}
    {{ content }}
{%- endif -%}


{% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
{%- if page.last_updated -%}
    <i>Posted: {{ page.date | date: date_format }}. Last updated: {{ page.last_updated }}.</i>
{%- else -%}
    <i>Posted: {{ page.date | date: date_format }}.</i>
{%- endif -%}